@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.filter {
  height: 90vh;
  
  &__page-header {
    padding: $mobile-margin;
    display: flex;
    align-items: center;
    gap: $mobile-icon-gap;
    border-bottom: 0.063rem solid $color-borders;
  }

  &__icon {
    @include icon-style;
  }

  &__title {
    font-size: $mobile-font-size-header;
  }

  &__outer-cont {
    padding-bottom: $mobile-margin;
  }

  &__options {
    margin: $mobile-margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $mobile-icon-gap;
  }

  &__checkbox {
    display: none;
  }

  &__button-cont {
    @include mobile-button-container;
  }

  &__secondary {
    @include secondary-button-style;
    flex: 1;

    &:focus,
    &:hover {
      border: 0.063rem solid $color-cta-hover;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__cta {
    @include cta-button-style;
    flex: 1;

    &:focus,
    &:hover {
      background-color: $color-cta-hover;
      font-weight: $font-weight-semi-bold;
    }
  }
}
