@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding: $mobile-margin;
  color: $color-primary-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background-hf;

  &__logo-link {
    text-decoration: none;
    color: $color-primary-text;
    // display: flex;
    // align-items: flex-end;
    // gap: 0.2rem;
  }

  &__logo {
    font-size: 1.1rem;
  }

  &__sign-in {
    font-size: $mobile-font-size-sub-header;
    padding: 0.5rem 0;
    color: $color-link;

    &:hover,
    &:focus,
    &:active {
      color: $color-cta-hover;
      // font-weight: 600;
    }

    &--active {
      color: $color-cta-hover;
      // font-weight: 600;
    }
  }

  &__sign-out {
    font-size: $mobile-font-size-sub-header;
    padding: 0.5rem 0;

    &:hover, 
    &:active {
      color: $color-cta-hover;
      font-weight: 600;
    }

    &:visited {
      color: $color-link;
    }
  }

  &__icon {
    @include icon-style;
  }

  &__right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $mobile-icon-gap;
  }
}
