@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.main {
  height: 100vh;
}
.login {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: $mobile-margin;

  &__title {
    font-size: $mobile-font-size-header;
    padding-bottom: $mobile-padding-bottom;
  }

  &__create-account {
    font-weight: $font-weight-semi-bold;
    color: $color-link;
  }

  &__form {
    margin-top: $mobile-margin;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: $font-weight-semi-bold;
    padding-bottom: 0.4rem;
    margin-top: $mobile-margin;
    color: $color-secondary-text;
  }

  &__input {
    width: 100%;
    padding: 0.7rem;
    border-radius: $border-radius;
    height: $element-mobile-height;
    border: 0.063rem solid $color-borders;
    font-family: $font-family;
    padding: 0 1rem 0.25rem 1rem;

    &--error {
      border: 0.063rem solid $color-error;
    }

    ::placeholder {
      color: $color-secondary-text;
    }
    &:hover,
    &:focus {
      border-color: $color-primary-cta;
    }
  }

  &__forgot-link {
    font-weight: $font-weight-semi-bold;
    align-self: flex-end;
    padding-top: 0.5rem;
    padding-bottom: $mobile-padding-bottom;
    color: $color-link;
  }

  &__cta {
    @include cta-button-style;

    &:hover,
    &:focus {
      background-color: $color-cta-hover;
    }
  }

  &__secondary {
    margin: $mobile-margin 0;
    font-weight: $font-weight-semi-bold;
    align-self: center;
    color: $color-link;
  }

  &__error-message {
    color: $color-error;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $mobile-font-size-label-button;
    padding-top: 0.25rem;

    &--align {
      padding: 0.5rem 0 1rem 0;
      justify-content: center;
    }
  }
}
