@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.full-height-map {
  background-color: #f3e4d7;
}

/* height of the container */
.leaflet-container {
  height: 90vh;
}

.leaflet-container .leaflet-popup-content p {
  /* override Leaflet's popup content */
  margin: 0;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #3e8cb3;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-semi-bold;
  font-size: $mobile-font-size-sub-header;
}

.search {
  margin: $mobile-margin $mobile-margin 0 $mobile-margin;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &__icon {
    @include icon-style;
  }

  &__input {
    @include form-field-style;
    flex: 1;
    background-image: url("../../assets/icons/round_search_black_24dp.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 2rem;
    background-color: $color-background-light;
  }

  &__filter-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__filter {
    font-size: $mobile-font-size-label-button;
  }
}

.pop-up {
  &__header {
    font-weight: $font-weight-medium;
    color: $color-secondary-text;
    padding-bottom: 0.2rem;
    font-family: $font-family;
  }

  &__info {
    margin: 0;
    padding-bottom: 0.75rem;
    font-family: $font-family;

    &--alert {
      color: $color-error;
      font-weight: $font-weight-semi-bold;
    }

    &--free {
      color: $color-success;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__cta {
    @include button-style;
    padding: 0.625rem;
    background-color: $color-primary-cta;
  }
}
