.full-height-map {
    // height: 100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // gap: 1em;
    // font-family: sans-serif;
    // color: #333;
    background-color: #f3e4d7;
  }
  
  /* height of the container */
  .leaflet-container {
    height: 90vh;
    // width: 90%;

  }

  .cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #3E8CB3; //#137EB3; //TODO: change color
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700; //TODO: use global variable
    font-size: 1rem; //TODO: use global variable
  }