@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.notification {
  &__page-header {
    padding: $mobile-margin;
    display: flex;
    align-items: center;
    gap: $mobile-icon-gap;
    border-bottom: 0.063rem solid $color-borders;
  }

  &__icon {
    @include icon-style;
  }

  &__title {
    font-size: $mobile-font-size-header;
  }

  &__meter-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: $mobile-margin;
    border-bottom: 0.063rem solid $color-borders;
  }

  &__sub-title {
    font-size: $mobile-font-size-section-header;
    padding: $mobile-icon-gap;
    background-color: $color-background-light;
    border-radius: $border-radius;
  }

  &__container {
    padding: $mobile-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

    &--top-spacing {
      padding-top: 2rem;
    }
  }

  &__info {
    text-align: center;
  }

  &__button-cont {
    @include mobile-button-container;
  }

  &__secondary {
    @include secondary-button-style;
    flex: 1;

    &:focus,
    &:hover {
      border: 0.063rem solid $color-cta-hover;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__cta {
    @include cta-button-style;
    flex: 1;

    &:focus,
    &:hover {
      background-color: $color-cta-hover;
      font-weight: $font-weight-semi-bold;
    }
  }



  &__time {
    font-size: $mobile-font-size-section-header;
    padding-top: $mobile-padding-top;
    font-weight: $font-weight-medium;
  }

  &__info {
    padding-top: $mobile-padding-top;
  }

  &__icon {
    @include icon-style;

    &--warning {
      background-color: #e8e04f;
      padding: 0.2rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding: $mobile-margin;
    border-top: 0.063rem solid $color-borders;
    width: 100%;
  }

  &__default {
    padding: $mobile-margin;
    text-align: center;
  }

  &__error-message {
    color: $color-error;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $mobile-font-size-label-button;
    padding-top: 0.25rem;

    &--align {
      padding: 0.5rem 0 1rem 0;
      justify-content: center;
    }
  }
}
